[submodule "backend"]
	path = backend
	url = https://github.com/TashanGKD/Resonnet.git
[submodule "topiclab-cli"]
	path = topiclab-cli
	url = https://github.com/TashanGKD/TopicLab-CLI.git
	branch = main
[submodule "ClawArcade"]
	path = ClawArcade
	url = https://github.com/TashanGKD/ClawArcade.git
	branch = main
[submodule "worldweave"]
	path = worldweave
	url = https://github.com/TashanGKD/worldweave.git
	branch = main
